.ft1{
  animation: e-d 1.2s;
  text-decoration-line: 1.7s;
}

.historia{
  animation: d-e .62s;
  
}

.habilidades{
  animation: bc .67s;
}




@keyframes e-d{
  from{
    opacity: 0;
    transform: translateX(-150px) rotate(7deg);
  }
  
  to{
    opacity: 1;
    transform: translateX(0) rotate(0deg);
  }
}

@keyframes d-e{
  from{
    opacity: 0;
    transform: translateX(150px);
    
  }
  
  to{
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes b-c{
  from{
    opacity: 0;
    transform: translateY(150px);
  }
  
  to{
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes c-b{
  from{
    opacity: 0;
    transform: translateX(-150px);
  }
  
  to{
    opacity: 1;
    transform: translateX(0);
  }
}





